<mat-toolbar color="primary">
  <button mat-icon-button aria-label="icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="favorite-icon" aria-label="icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button (click)="openDialog()" aria-label="icon-button with add icon">
    <mat-icon>person_add</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
