<form class="form" [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
  <header mat-dialog-title>Employee Form</header>
  <section mat-dialog-content>
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput type="text" placeholder="Ex. Shahin" formControlName="firstName" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput type="text" placeholder="Ex. Mahmud" formControlName="lastName" />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Email Address</mat-label>
        <input matInput type="email" placeholder="Ex. shahin@gmail.com" formControlName="email" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Date of Birth</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dob" />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-radio-group class="gender" formControlName="gender">
        <mat-label>Gender</mat-label>
        <mat-radio-button value="1">Male</mat-radio-button>
        <mat-radio-button value="2">Female</mat-radio-button>
        <mat-radio-button value="3">Others</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Education</mat-label>
        <mat-select formControlName="education">
          @for (edu of educations; track edu) {
          <mat-option [value]="edu">{{ edu }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Company</mat-label>
        <input matInput type="text" placeholder="Ex. Facebook" formControlName="company" />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Experience</mat-label>
        <input matInput type="number" placeholder="Ex. 5 Years" formControlName="exp" />
        <span matTextSuffix>Yrs</span>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Package</mat-label>
        <input matInput type="number" placeholder="Ex. 5.0L" formControlName="package" />
        <span matTextSuffix>.00</span>
        <mat-hint>In Taka</mat-hint>
      </mat-form-field>
    </div>
  </section>
  <footer mat-dialog-actions class="actions">
    <button mat-raised-button mat-dialog-close color="accent" type="button">Close</button>
    <button mat-raised-button mat-dialog-save color="primary" type="submit">Save</button>
  </footer>
</form>
